<style>
    /*@media print{
    }*/
        
    /*.itemLabel_v4 {

    }*/

     .itemLabel_v3 {

    }

    .widgetPrintSystem_label_labelBLOCK.itemLabel_v3 {
        position: relative !important;
        font-family: Arial, Helvetica, sans-serif !important;
        max-height: 2.125in !important;
        min-height: 2.125in !important;
        height: 2.125in !important;
        max-width: 4in !important;
        min-width: 4in !important;
        width: 4in !important;
        margin: 0 !important;
        padding: 0 0 0 2px !important;
        overflow: hidden !important;
    }
    
    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.expiriation_date {
        position: absolute !important;
        right: 37px !important;
        bottom: 8px !important;
        text-align: left !important;
        font-weight: bolder !important;
        font-size: 16px !important;
        color: #000;
        border: 1px solid black;
        z-index: 1;
    }
    
    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.lot_number {
        position: absolute !important;
        right: 37px !important;
        bottom: 66px !important;
        text-align: left !important;
        font-weight: 800 !important;
        font-size: 12px !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.liveqrdata {

    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.qr1data {

    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.code39 { /*barcode*/
        transform: scale(0.85,0.85) rotate(90deg) !important;
        position: absolute !important;
        top: 79px !important;
        left: -100px !important;
        font-size: 10px !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.liveqr_hr { /*shortened qr*/
        position: absolute !important;
        right: 46px !important;
        top: 22px !important;
        font-size: 13px !important;
        font-weight: 800 !important;
       /* transform: rotate(-90deg) !important;*/
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.qr1 { /*LiveQR*/
        position: absolute !important;
        right: 36px !important;
        bottom: 107px !important;
        display: none !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.company_name {
        position: absolute !important;
        text-align: left !important;
        left: 40px !important;
        top: 8px !important;
        font-size: 12px !important;
        font-weight: 800 !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.destinationName {
        position: absolute !important;
        bottom: 48px !important;
        left: 40px !important;
        font-size: 11px !important;
        text-align: left !important;
        font-weight: bolder !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.brand_model {
        position: absolute !important;
        text-align: left !important;
        left: 40px !important;
        top: 102px !important;
        font-size: 12px !important;
        font-weight: 800 !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.name_packaging { /* common name and packaging description*/
        position: absolute !important;
        text-align: left !important;
        top: 64px !important;
        left: 40px !important;
        font-size: 12px !important;
        font-weight: bold;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.family_subfamily {
        position: absolute !important;
        text-align: left !important;
        top: 35px !important;
        left: 40px !important;
        font-size: 12px !important;
        font-weight: bold;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.serialNo {
        position: absolute !important;
        bottom: 42px !important;
        /*top: 0 !important;*/
        right: 36px !important;
        font-size: 12px !important;
        font-weight: 800 !important;
        text-align: left;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.addInfo { /*additional info*/
        position: absolute !important;
        /*top: 0 !important;*/
        bottom: 8px !important;
        left: 40px !important;
        /*right: 42px !important;*/
        text-align: left !important;
        font-weight: 800 !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.bulkText {
        /*position: absolute !important;
        font-size: 10px !important;
        top: 21px !important;
        right: 126px !important;
        font-weight: 800;
        border: .1px solid black;*/
        position: absolute !important;
        top: 0 !important;
        left: 193px !important;
        display: none !important;
        background-color: #000000 !important;
        color: #ffffff !important;
        width: 60px !important;
        padding: 3px !important;
        text-align: center !important;
    }

    .itemLabel_v3 .widgetPrintSystem_label_itemLabel_labelDATA.branding {
        
    }

    .itemLabel_v3 #img_trxio_label_logo {
        position: absolute !important;
        bottom: 70px !important;
        right: 36px !important;
       /* display: none !important;*/
    }
    
    .itemLabel_v3 #img_data_matrix {
        position: absolute !important;
        bottom: 102px !important;
        right: 45px !important;
        max-height: 1.588cm !important;
        min-height: 1.588cm !important;
        height: 1.588cm !important;
        min-width: 1.588cm !important;
        max-width: 1.588cm !important;
        width: 1.588cm !important;

    }
   
    /*.itemLabel_v4 .liveqr_code39 {
        
    }
    
    .itemLabel_v4 .under_qr {
        
    }
    
    .itemLabel_v4 .extra {
        
    }
 */


</style>
