html,body { /*style 1*/
    font-family: 'Times New Roman', Times, serif;
    
}

#main {
    color: #000000;
    text-transform: uppercase;
}

.box {
    position: relative;
    max-height: 1.78in;
    min-height: 1.78in;
    height: 1.78in;
    max-width: 3.6in;
    min-width: 3.6in;
    width: 3.6in;
    margin: 0;
    padding: 0 0 0 2px;
    overflow: hidden;
    border-radius: 1%;
    line-height: 170px;
    background-color: #ffffff;
    
}

.label-company-name {
    color: #000000;
    position: absolute;
    top: -75px;
    left: 10px;
    font-size: 15px;
}

.label-product {
    position: absolute;
    top: -52px;
    left: 10px;
}

.label-brand {
    position: absolute;
    top: -30px;
    left: 10px;
}

.label-model {
    position: absolute;
    top: -7px;
    left: 10px;
}

.label-additional-info { /*word wrap*/
    position: absolute;
    top: 15px;
    left: 10px;
}

.label-serial-number {
    color: #000000;
    position: absolute;
    top: 38px;
    left: 10px;
    font-size: 16px;
}

.qr-code {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 150px;
}

.shortened-qr-code {
    position: absolute;
    bottom: -91px;
    right: 25px;
    font-size: 25px;
}

.bar-code {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 200px;
}

.logo {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    width: 70px;
}
