html,body {
    font-family: 'Times New Roman', Times, serif;
}

#main {
    color: #000000;
    text-transform: uppercase;
}

.box {
    position: relative;
    max-height: 1.78in;
    min-height: 1.78in;
    height: 1.78in;
    max-width: 3.6in;
    min-width: 3.6in;
    width: 3.6in;
    margin: 0;
    padding: 0 0 0 2px;
    overflow: hidden;
    border-radius: 1%;
    line-height: 170px;
    background-color: #ffffff;
    
}

.label-brand {
    position: absolute;
    top: -80px;
    left: 10px;
}

.label-model {
    position: absolute;
    top: -45px;
    left: 10px;
}

.label-additional-info {
    position: absolute;
    top: -12px;
    left: 10px;
}

.qr-code {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 160px;
}

.shortened-qr-code {
    position: absolute;
    top: -20px;
    right: 100px;
    font-size: 28px;
    transform: rotate(-90deg);
}

.logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    width: 70px;
}
